<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments.html :: head (page)"></head>
<body>
  <div th:replace="fragments.html :: main-nav"></div>
  <div th:replace="fragments.html :: profile-banner"></div>
  <div class="container">
    <div th:replace="fragments.html :: profile-menu (profileMenu='children')"></div>
    <div class="row mt-5 justify-content-center">
      <div class="col-2">
        <div class="card">
          <svg th:if="${#strings.isEmpty(account.profileImage)}" class="card-img-top img-fluid float-left rounded img-thumbnail"
               th:data-jdenticon-value="${account.nickname}" width="250" height="250"></svg>
          <img th:if="${!#strings.isEmpty(account.profileImage)}" class="card-img-top img-fluid float-left rounded img-thumbnail"
               th:src="${account.profileImage}" width="250" height="250"/>
          <div class="card-body">
            <strong><p class="card-text text-center txt1" th:text="${account.nickname}">nickname</p></strong>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card-columns">
          <div th:each="child:${account.getChildren()}">
            <div class="card">
              <svg th:if="${#strings.isEmpty(child.profileImage)}" class="card-img-top img-fluid float-left rounded img-thumbnail"
                   th:data-jdenticon-value="${child.name}" width="250" height="250"></svg>
              <img th:if="${!#strings.isEmpty(child.profileImage)}" class="card-img-top img-fluid float-left rounded img-thumbnail"
                   th:src="${child.profileImage}" width="250" height="250"/>
              <div class="card-body text-center">
                <h5 class="card-title" th:text="${child.name}"></h5>
                <div class="card-text">
                  <p style="font-size: 15px;">
                    <span th:if="${child.getBirth()==null && isOwner}">
                      <i class="fa fa-users" aria-hidden="true"></i> 학생의 생년월일을 설정해주세요.
                    </span>
                    <span style="font-size: 15px;" th:if="${child.getBirth()!=null}">
                      <i class="fa fa-users" aria-hidden="true"></i> <span th:text="${child.getBirth()}"></span>
                    </span>
                  </p>
                  <p style="font-size: 15px;">
                    <span th:if="${(child.getPhone()==null || child.getPhone().length() == 0) && isOwner}">
                      <i class="fa fa-users" aria-hidden="true"></i> 학생의 전화번호를 설정해주세요.
                    </span>
                    <span style="font-size: 15px;" th:if="${child.getPhone()!=null}">
                      <i class="fa fa-users" aria-hidden="true"></i> <span th:text="${child.getPhone()}"></span>
                    </span>
                  </p>
                  <p style="font-size: 15px;">
                    <span th:if="${(child.getGroupName()==null || child.getGroupName().length()==0) && isOwner}">
                      <i class="fa fa-users" aria-hidden="true"></i> 학생의 반을 설정해주세요.
                    </span>
                    <span style="font-size: 15px;" th:if="${child.getGroupName()!=null}">
                      <i class="fa fa-users" aria-hidden="true"></i> <span th:text="${child.getGroupName()}"></span>
                    </span>
                  </p>
                  <p style="font-size: 15px;">
                    <span th:if="${(child.getSchoolName()==null || child.getSchoolName().length()==0) && isOwner}">
                      <i class="fa fa-university" aria-hidden="true"></i> 학생의 학교를 설정해주세요.
                    </span>
                    <span style="font-size: 15px;" th:if="${child.getSchoolName()!=null}">
                      <i class="fa fa-university" aria-hidden="true"></i> <span th:text="${child.getSchoolName()}"></span>
                    </span>
                  </p>
                </div>
                <a th:if="${isOwner}" th:href="@{'/settings/child/' + ${child.id}}" class="btn btn-primary">상세 설정</a>
              </div>
            </div>
          </div>
          <div class="card text-center border-info">
            <div class="card-header text-info">
              추가하기
            </div>
            <div class="card-body text-info">
              <h5 class="card-title">학생 추가하기</h5>
              <p class="card-text">학생을 추가하시려면 아래 버튼을 클릭하세요.</p>
              <a class="btn btn-primary" th:href="@{/sign-up/children}"> <i class="fa fa-plus fa-2x"></i> </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div th:replace="fragments.html :: footer"></div>
  </div>
</body>
</html>