<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head (page='sign-up')"></head>
<body style="background-color: #666666;">
<nav th:replace="fragments.html::main-nav"></nav>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form">
                    <span class="login100-form-title p-b-43">
                        학생 추가
                    </span>

                    <div class="alert alert-info" role="alert">
                        학생의 이름을 입력 후 엔터를 입력하세요. 학생의 세부 정보는 추후에 <strong>프로필</strong>에서 추가할 수 있습니다.
                    </div>
                    <input id="children" type="text" name='children' th:value="${#strings.listJoin(children, ',')}" class="tagify-outside" aria-describedby="childrenHelp"/>

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
                        <div class="contact100-form-checkbox">
                        </div>
                    </div>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" onclick="location.href='/'">
                            완료
                        </button>
                    </div>
                </div>

                <div class="login100-more" style="background-image: url('/images/bg-01.jpg');">
                </div>
            </div>
        </div>
    </div>
    <script src="/node_modules/@yaireo/tagify/dist/tagify.min.js"></script>
    <script type="application/javascript" th:inline="javascript">
        $(function() {
            var csrfToken = /*[[${_csrf.token}]]*/ null;
            var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
            $(document).ajaxSend(function (e, xhr, options) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            });
        });
    </script>
    <script type="application/javascript">
        $(function () {
            function tagRequest(url, name) {
                $.ajax({
                    dataType: "json",
                    autocomplete: {
                        enabled: true,
                        rightKey: true,
                    },
                    contentType: "application/json; charset=utf-8",
                    method: "POST",
                    url: "/account/child" + url,
                    data: JSON.stringify({'name': name})
                }).done(function (data, status) {
                    console.log("${data} and status is ${status}");
                });
            }

            function onAdd(e) {
                tagRequest("/add", e.detail.data.value);
            }

            function onRemove(e) {
                tagRequest("/remove", e.detail.data.value);
            }

            var childInput = document.querySelector("#children");

            var tagify = new Tagify(childInput, {
                pattern: /^.{0,20}$/
            });

            tagify.on("add", onAdd);
            tagify.on("remove", onRemove);

            // add a class to Tagify's input element
            tagify.DOM.input.classList.add('form-control');
            // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
            tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
        });
    </script>
</body>
</html>