<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head(page)"></head>
<body class="bg-light">
    <div th:replace="fragments.html::user-main-nav"></div>
    <div class="alert alert-warning" role="alert" th:if="${account != null && !account.emailVerified}">
        알리지 가입을 완료하시려면 <a th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
    </div>
    <div class="container">
        <div class="py-5 text-center">
            <h3>알리지</h3>
            <div sec:authorize="isAuthenticated()" th:if="${account.children != null}">
                <select class="custom-select col-2" onchange="selectChild(this);" id="child">
                    <div th:if="${account.children.size() == 0}">
                        <option class="text-center">학생을 추가해주세요.</option>
                    </div>
                    <div th:each="child : ${account.getChildren()}" th:if="${account.children.size() != 0}">
                        <option class="text-center" th:value="${child.id}" th:text="${child.name}"></option>
                    </div>
                </select>
                <br/><br/>
                <div class="row mt-7 justify-content-center">
                    <div class="card-columns col-10">
                            <div th:each="reservation : ${reservationList}">
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h4 th:text="${reservation.reservationTime}"></h4>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text text-center" th:text="${reservation.reservationLocation}"></p>
                                        <button type="button" class="btn btn-primary btn-block" th:data-id="${reservation.id}" th:onclick="|sendPost('${reservation.id}')|">
                                            <i class="fa fa-calendar"></i>  예약하기
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <footer th:replace="fragments.html::footer"></footer>
    </div>
    <script type="application/javascript">
        // TODO 예약하기 버튼 클릭 시 데이터 전송

        function sendPost(reservationId) {
            var childId = document.getElementById("child").value;
            var url = "/enroll/" + childId + "/" + reservationId;

            var form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', url);
            document.charset = "utf-8";
            document.body.appendChild(form);
            form.submit();
        }
    </script>
</body>
</html>