<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Alliz</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <style>
        .container {
            max-width: 100%;
        }
    </style>
</head>
<body class="bg-light">
    <div th:replace="fragments.html::main-nav"></div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>알리지</h2>
        </div>

        <footer th:replace="fragments.html::footer"></footer>
    </div>
</body>
</html>