<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head(page)"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: user-main-nav"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="fragments.html :: child-settings-menu (currentMenu='profile')"></div>
            </div>
            <div class="col-8">
                <div class="row">
                    <h2 class="col-sm-12" th:text="${child.name}">username</h2>
                </div>
                <div class="row mt-3">
                    <form class="col-sm-6" action="#"
                          th:action="@{'/settings/child/' + ${child.id}}" th:object="${childForm}" method="post" novalidate>

                        <div class="form-group">
                            <label for="name">이름</label>
                            <input id="name" type="text" th:field="*{name}" class="form-control"
                                   placeholder="홍길동"
                                   aria-describedby="nameHelp" required>
                            <small id="nameHelp" class="form-text text-muted">
                                변경하고자 하는 이름을 입력해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</small>
                        </div>
                        <div class="form-group">
                            <label for="birth">생년월일</label>
                            <input id="birth" type="date" th:field="*{birth}" class="form-control"
                                   aria-describedby="birthHelp" required>
                            <small id="birthHelp" class="form-text text-muted">
                                생년월일을 입력해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">birth Error</small>
                        </div>
                        <div class="form-group">
                            <label for="phone">전화번호</label>
                            <input id="phone" type="text" th:field="*{phone}" class="form-control"
                                   placeholder="01012345678"
                                   aria-describedby="phoneHelp" required>
                            <small id="phoneHelp" class="form-text text-muted">
                                연락이 가능한 휴대전화 번호를 기입해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</small>
                        </div>
                        <div class="form-group">
                            <label for="groupName">반 이름</label>
                            <input id="groupName" type="text" th:field="*{groupName}" class="form-control"
                                   placeholder="2반"
                                   aria-describedby="groupNameHelp" required>
                            <small id="groupNameHelp" class="form-text text-muted">
                                학원 내 속한 반의 이름을 입력해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}">groupName Error</small>
                        </div>
                        <div class="form-group">
                            <label for="schoolName">학교</label>
                            <input id="schoolName" type="text" th:field="*{schoolName}" class="form-control"
                                   placeholder="서울초등학교"
                                   aria-describedby="schoolNameHelp" required>
                            <small id="schoolNameHelp" class="form-text text-muted">
                                다니고 있는 학교 이름을 입력해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}">schoolName Error</small>
                        </div>
                        <div class="form-group">
                            <input id="profileImage" type="hidden" th:field="*{profileImage}" class="form-control" />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit"
                                    aria-describedby="submitHelp">수정하기</button>
                        </div>
                    </form>
                    <div th:replace="fragments.html :: set-image (form = 'child')"></div>
                </div>
            </div>
        </div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
    <script th:replace="fragments.html :: tooltip"></script>
    <div th:replace="fragments.html :: crop-image (image='profile')"></div>
</body>
</html>