<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head(page)"></head>
<body class="bg-light">
    <div th:replace="fragments.html :: main-nav"></div>
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-2">
                <div th:replace="fragments.html :: child-settings-menu (currentMenu='profile')"></div>
            </div>
            <div class="col-8">
                <div class="row">
                    <h2 class="col-sm-12" th:text="${child.name}">username</h2>
                </div>
                <div class="row mt-3">
                    <form class="col-sm-6" action="#"
                          th:action="@{'/settings/child/' + ${child.id}}" th:object="${childForm}" method="post" novalidate>

                        <div class="form-group">
                            <label for="name">이름</label>
                            <input id="name" type="text" th:field="*{name}" class="form-control"
                                   placeholder="홍길동"
                                   aria-describedby="nameHelp" required>
                            <small id="nameHelp" class="form-text text-muted">
                                변경하고자 하는 이름을 입력해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</small>
                        </div>
                        <div class="form-group">
                            <label for="birth">생년월일</label>
                            <input id="birth" type="date" th:field="*{birth}" class="form-control"
                                   aria-describedby="birthHelp" required>
                            <small id="birthHelp" class="form-text text-muted">
                                생년월일을 입력해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}">birth Error</small>
                        </div>
                        <div class="form-group">
                            <label for="phone">전화번호</label>
                            <input id="phone" type="text" th:field="*{phone}" class="form-control"
                                   placeholder="01012345678"
                                   aria-describedby="phoneHelp" required>
                            <small id="phoneHelp" class="form-text text-muted">
                                연락이 가능한 휴대전화 번호를 기입해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</small>
                        </div>
                        <div class="form-group">
                            <label for="groupName">반 이름</label>
                            <input id="groupName" type="text" th:field="*{groupName}" class="form-control"
                                   placeholder="2반"
                                   aria-describedby="groupNameHelp" required>
                            <small id="groupNameHelp" class="form-text text-muted">
                                학원 내 속한 반의 이름을 입력해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('groupName')}" th:errors="*{groupName}">groupName Error</small>
                        </div>
                        <div class="form-group">
                            <label for="schoolName">학교</label>
                            <input id="schoolName" type="text" th:field="*{schoolName}" class="form-control"
                                   placeholder="서울초등학교"
                                   aria-describedby="schoolNameHelp" required>
                            <small id="schoolNameHelp" class="form-text text-muted">
                                다니고 있는 학교 이름을 입력해주세요.
                            </small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}">schoolName Error</small>
                        </div>
                        <div class="form-group">
                            <input id="profileImage" type="hidden" th:field="*{profileImage}" class="form-control" />
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit"
                                    aria-describedby="submitHelp">수정하기</button>
                        </div>
                    </form>
                    <div class="col-sm-6">
                        <div class="card text-center">
                            <div class="card-header">
                                프로필 이미지
                            </div>
                            <div id="current-profile-image" class="mt-3">
                                <svg th:if="${#strings.isEmpty(childForm.profileImage)}" class="rounded"
                                     th:data-jdenticon-value="${childForm.name}" width="125" height="125"></svg>
                                <img th:if="${!#strings.isEmpty(childForm.profileImage)}" class="rounded"
                                     th:src="${childForm.profileImage}"
                                     width="125" height="125" alt="name" th:alt="${childForm.name}"/>
                            </div>
                            <div id="new-profile-image" class="mt-3"></div>
                            <div class="card-body">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="profile-image-file">
                                    <label class="custom-file-label" for="profile-image-file">프로필 이미지 변경</label>
                                </div>
                                <div id="new-profile-image-control" class="mt-3">
                                    <button class="btn btn-outline-primary btn-block" id="cut-button">자르기</button>
                                    <button class="btn btn-outline-success btn-block" id="confirm-button">확인</button>
                                    <button class="btn btn-outline-warning btn-block" id="reset-button">취소</button>
                                </div>
                                <div id="cropped-new-profile-image" class="mt-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
    <link href="/node_modules/cropper/dist/cropper.min.css" rel="stylesheet"/>
    <script src="/node_modules/cropper/dist/cropper.min.js"></script>
    <script src="/node_modules/jquery-cropper/dist/jquery-cropper.min.js"></script>
    <script type="application/javascript">
        $(function() {
            cropper = '';
            let $confirmBtn = $("#confirm-button");
            let $resetBtn = $("#reset-button");
            let $cutBtn = $("#cut-button");
            let $newProfileImage = $("#new-profile-image");
            let $currentProfileImage = $("#current-profile-image");
            let $resultImage = $("#cropped-new-profile-image");
            let $profileImage = $("#profileImage");

            $newProfileImage.hide();
            $cutBtn.hide();
            $resetBtn.hide();
            $confirmBtn.hide();

            $("#profile-image-file").change(function(e) {
                if (e.target.files.length === 1) {
                    const reader = new FileReader();
                    reader.onload = e => {
                        if (e.target.result) {
                            let img = document.createElement("img");
                            img.id = 'new-profile';
                            img.src = e.target.result;
                            img.width = 250;

                            $newProfileImage.html(img);
                            $newProfileImage.show();
                            $currentProfileImage.hide();

                            let $newImage = $(img);
                            $newImage.cropper({aspectRatio: 1});
                            cropper = $newImage.data('cropper');

                            $cutBtn.show();
                            $confirmBtn.hide();
                            $resetBtn.show();
                        }
                    };

                    reader.readAsDataURL(e.target.files[0]);
                }
            });

            $resetBtn.click(function() {
                $currentProfileImage.show();
                $newProfileImage.hide();
                $resultImage.hide();
                $resetBtn.hide();
                $cutBtn.hide();
                $confirmBtn.hide();
                $profileImage.val('');
            });

            $cutBtn.click(function () {
                let dataUrl = cropper.getCroppedCanvas().toDataURL();
                let newImage = document.createElement("img");
                newImage.id = "cropped-new-profile-image";
                newImage.src = dataUrl;
                newImage.width = 125;
                $resultImage.html(newImage);
                $resultImage.show();
                $confirmBtn.show();

                $confirmBtn.click(function () {
                    $newProfileImage.html(newImage);
                    $cutBtn.hide();
                    $confirmBtn.hide();
                    $profileImage.val(dataUrl);
                });
            });
        });
    </script>
</body>
</html>